 <section class="px-4 py-8 max-w-4xl mx-auto bg-gray-100 rounded-lg shadow">
            <h2 class="text-2xl font-bold text-center mb-6">Compara los dispositivos Kindle</h2>
            <table class="w-full table-auto border-collapse bg-white rounded-lg shadow">
                <thead>
                    <tr class="bg-blue-200">
                        <th class="p-4 text-left font-semibold">Dispositivos</th>
                        <th class="p-4 text-center font-semibold">Pantalla</th>
                        <th class="p-4 text-center font-semibold">Resistencia al agua</th>
                        <th class="p-4 text-center font-semibold">Capacidad</th>
                        <th class="p-4 text-center font-semibold">Batería</th>
                        <th class="p-4 text-center font-semibold">Precio</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700 text-sm">
                    <tr class="border-t bg-white">
                        <td class="p-4 font-medium">Kindle Basic</td>
                        <td class="p-4 text-center">6” 300 ppi</td>
                        <td class="p-4 text-center">No</td>
                        <td class="p-4 text-center">16 GB</td>
                        <td class="p-4 text-center">Hasta 6 semanas</td>
                        <td class="p-4 text-center">119 €</td>
                    </tr>
                    <tr class="border-t bg-white">
                        <td class="p-4 font-medium">Kindle Paperwhite</td>
                        <td class="p-4 text-center">6.8” 300 ppi, luz cálida</td>
                        <td class="p-4 text-center">Sí (IPX8)</td>
                        <td class="p-4 text-center">8 o 16 GB</td>
                        <td class="p-4 text-center">Hasta 10 semanas</td>
                        <td class="p-4 text-center">149 €</td>
                    </tr>
                    <tr class="border-t bg-white">
                        <td class="p-4 font-medium">Kindle Oasis</td>
                        <td class="p-4 text-center">7” 300 ppi, luz automática</td>
                        <td class="p-4 text-center">Sí (IPX8)</td>
                        <td class="p-4 text-center">8 o 32 GB</td>
                        <td class="p-4 text-center">Hasta 6 semanas</td>
                        <td class="p-4 text-center">249 €</td>
                    </tr>

                </tbody>
            </table>
        </section>
